body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
header {
  background-image: url(./images/cactuses.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  padding: 100px 0;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

}

header h1 {
font-family: 'Montserrat', sans-serif;
font-size: 100px;
color: white;
margin: 60px;
padding-bottom: 30px;
}

header h1:hover {
  transform: scale(1.05);
  text-shadow: 1px 1px 25px rgb(182, 180, 180);
}

.featured-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px
}

.product-card {
  width: 300px;
  height: 400px;
  border: 1px solid green;
  margin: 2px
}

.footer {
  background-color: #bbc7ca;
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
font-size: 30px;
}