body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

/* HEADER */

.header {
  background-image: url(./images/cactuses.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  padding: 0;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

.fixed-cart {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 20px; 
  z-index: 1000;
  color: tomato;
  border: 2px solid tomato;
  border-radius: 50%;
}

.fixed-cart p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin: 2px;
}


/* hamburgermenu  */

.hamburger-menu {
  cursor: pointer;
  background: transparent;
  align-self: flex-start;
  margin: 20px 20px 100px 20px;
}

.burger-line {
  background-color: white;
  height: 6px;
  width: 50px;
  margin: 8px;
  border-radius: 2px;
}

.menu-toggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menu-toggle a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.menu-toggle input {
  display: block;
  width: 50px;
  height: 34px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menu-toggle div:first-child {
  transform-origin: 0% 0%;
}

.menu-toggle div:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* transform the burger to a crossmark */

.menu-toggle input:checked ~ div {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 14px);
  background: white;
}


.menu-toggle input:checked ~ div:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ div:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 250px;
  margin: 10px 10px 10px -20px;
  padding: 50px 30px;
  background: #bcc7b6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border-radius: 3px;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

 .menu-toggle input:checked ~ ul {
  transform: none;
  margin: 10px;
}


/* nav-bar */

.active {
  border-bottom: 1px solid white;
}

.nav-bar {
  display: none
}

.nav-bar h2 {
  color: white;
  margin: 7px;
  font-size: 17px;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  color: white;
  margin: 30px;
  padding-bottom: 30px;
}

.header h1:hover, .header h2:hover {
  transform: scale(1.05);
  text-shadow: 1px 1px 25px rgb(182, 180, 180);
}

/* GENERAL STYLING FOR ALL THE PAGES */

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
 color: #343d30;
 text-align: center;
 margin: 22px;
}

.loader-svg {
  height: 50px;
  width: 50px;
  animation-name: loader;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  50% {
    width: 80px;
  }
  100% {
    width: 50px;
  }
}

/*  HOME-COMPONENT */

.featured-products-wrapper {
  /* background-color: #bbc7ca; */
  margin: 0 20px;
  padding: 20px;
}

.home-img-wrapper {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
}

.home-img-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 25px rgb(17, 17, 17);
}

.home-img {
  padding: 20px;
  max-width: -webkit-fill-available
}

/* SHOP-COMPONENT */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card a {
  color: #343d30
}

.product-card {
  min-width: 300px;
  max-width: 300px;
  height: auto;
  border: 1px solid white;
  margin: 2px;
  padding: 15px 15px 20px 15px;
  color: #343d30
}

.product-card:hover {
border: 1px solid #bbc7ca;
}

.product-img {
  height: 300px;
  width: 300px;
}


.price-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-alt-name {
  font-style: italic;
  margin: 0 0 20px 0;
}

.product-info {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}

.price-section h2 {
  align-self: flex-end;
  margin: 30px
}

.add-to-cart-btn {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #bbc7ca;
  border-radius: 20px;
  color: #bbc7ca;
  font-weight: 600;
  background-color: white;
}

.add-to-cart-btn:hover {
  background-color: #bbc7ca;
  transform: scale(1.05);
  text-shadow: 1px 1px 25px rgb(182, 180, 180);
  color: white;
}

.go-back-arrow {
  cursor: pointer;
  color: #bbc7ca;
  margin: 5px;
}

.product-details-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 30px 20px;
  color: #343d30;
  align-items: center;
  max-width: 500px;
}
/* 
.product-details-info {
  display: flex;
  flex-direction: column;
} */

/* ABOUT-COMPONENT */

.about-wrapper {
  margin: 20px;
}

.about-wrapper p {
  color: #343d30;
}

.about-img{
  width: 100%;
  padding: 20px 0;
}

.about-contact {
  display: flex;
  justify-content: space-evenly;
}

/* CART-COMPONENT */

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  color: #343d30;
  width: 100%;
}

.cart-item-button {
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #bbc7ca;
  border-radius: 50%;
  color: #bbc7ca;
  font-weight: 200;
  background-color: white;
  margin: 2px;
  font-size: 22px;
}

.cart-item-button:hover {
  background-color: #bbc7ca;
  transform: scale(1.05);
  text-shadow: 1px 1px 25px rgb(182, 180, 180);
  color: white;
}

.amount {
  color: #343d30;
}

.user-not-logged-in-wrapper {
  border: 1px solid #bbc7ca;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 250px;
  height: 30px;
  border: 1px solid #bbc7ca;
  margin: 2px;
  padding-left: 10px;
  color: #343d30;
}

.checkout-button, .form-button, .crt-widget .crt-load-more {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #bbc7ca;
  border-radius: 25px;
  color: #bbc7ca;
  font-size: 25px;
  font-weight: 600;
  background-color: white;
  margin: 50px 20px;
}

.checkout-button:hover, .form-button:hover, .crt-widget .crt-load-more:hover {
  background-color: #bbc7ca;
  transform: scale(1.05);
  text-shadow: 1px 1px 25px rgb(182, 180, 180);
  color: white;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.logged-in-message {
  color: #343d30;
  margin: 20px;
  text-align: center;
}

/* INSTAGRAM-COMPONENT */

.instagram-text {
  display: none;
}

/* FOOTER */

.footer {
  background-color: #bbc7ca;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.footer a {
  text-decoration: none;
  color: white;
}

  h4 {
  font-size: 30px;
  margin: 5px;
}

/*  Media queries  */

@media (min-width: 700px) {

  .header {
    padding: 100px 0;
    justify-content: center;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-bar {
    display: flex;
    padding-bottom: 20px;
  }

  .fixed-cart {
    top: 50px;
    right: 50px;
  }

  .home-img {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  .home-img-text {
    font-size: 50px;
  }

  .featured-products {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-wrapper {
    margin: 60px;
  }

}


@media (min-width: 900px) {

  .header h1 {
    font-size: 100px;
    margin: 60px;
  }

  .nav-bar h2 {
    margin: 20px;
    font-size: 30px;
  }

  .about-wrapper {
    margin: 100px;
  }

}

@media (min-width: 1200px) {

  .fixed-cart {
    top: 100px;
    right: 100px;
  }

  .about-wrapper {
    margin: 50px 200px;
  }

  .footer {
    flex-direction: row;
    padding: 100px;
  }

}